<header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Angular POC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav w-100">
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" routerLink="products">Products</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" routerLink="users" *ngIf="userType === 'ADMIN'">Users</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" routerLink="deletedusers" *ngIf="userType === 'ADMIN'">Deleted Users</a>
                    </li>
                    <li class = "nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" routerLink="deletedproducts" *ngIf="userType === 'ADMIN'">Deleted Products</a>
                    </li>
                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><mat-icon>account_box</mat-icon>{{userName | uppercase}}</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" routerLink="userProfile" href="#">My Profile</a>
                            <a class="dropdown-item" routerLink="changepassword" href="#">Change Password</a>
                            <button class="dropdown-item" target="_blank" (click)="swagger()" *ngIf="userType === 'ADMIN'"><i (click)="swagger"></i>Swagger UI</button>
                            <button class="dropdown-item" (click)="logout()">Log Out</button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        </header>
        