<div class="bg2">
    <div class="main-div" >

    <mat-card class="example-card" style="width:50%" >
        
        <mat-card-header >
                <mat-card-title ><h3>Forgot Password</h3></mat-card-title>
              </mat-card-header>
              <mat-card-content>
<div *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
</div>
<div *ngIf="successMessage">
    <div class="alert alert-success" role="alert">
      {{successMessage}}
    </div>
</div>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
        <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
            <div *ngIf="f.userName.errors.required">Username is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="emailId">Email</label>
        <input type="email" formControlName="emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
        <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
            <div *ngIf="f.emailId.errors.required">Email Id is required</div>
            <div *ngIf="f.emailId.errors.email">Enter a valid Email Address</div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" formControlName="password" class="form-control"  pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.touched && f.password.errors?.pattern">Password must contain atleast 8 characters with UpperCase, LowerCase, Number/Special Character</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords Must Match</div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success">
            Create Password
        </button>
    </div>

    <div class="form-group" class="text-right">
        <a routerLink="" class="btn btn-primary">Login</a>
    </div>
</form>
</mat-card-content>
</mat-card>
</div>
</div>