<div class="bg1" >
<div class="main-div" style="width:100%" >

    <mat-card class="example-card" style="width:50%" >
        
        <mat-card-header >
                <mat-card-title ><h2>Change your password here..</h2></mat-card-title>
              </mat-card-header>
              <mat-card-content>
<div *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
</div>
<div *ngIf="successMessage">
    <div class="alert alert-success" role="alert">
      {{successMessage}}
    </div>
</div>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" formControlName="password" class="form-control"  pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.touched && f.password.errors?.pattern">Password must contain atleast 8 characters with UpperCase, LowerCase, Number/Special Character</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords Must Match</div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success">
            Change Password
        </button>
    </div>

    <div class="form-group" class="text-right">
        <a routerLink="/products">Back</a>
    </div>
</form>
</mat-card-content>
</mat-card>
</div>
</div>