<script src="sweetalert2.all.min.js"></script>

<body class="bg3">
  <div class="example-loading-shade" style="position:fixed;top:50%;left:50%"
  *ngIf="isLoadingResults">
<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
  
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="filteredUserName"  placeholder="Filter By User Name">
</mat-form-field>

<div *ngIf="filter">
<table class="table" style="width:60%">
    
    <thead>
        <th>Username</th>
        <th>Email ID</th>
        <th>Contact No.</th>
         <th>Edit</th>
        <th>Delete</th>
      </thead>
     
    
    <tbody>
      <ng-container *ngFor="let fproduct of filteredData.users | paginate: {itemsPerPage: 3, currentPage: fp, totalItems: filteredData.totalItems} ">
      <tr>
      <td>{{fproduct.userName}}</td>
      <td>{{fproduct.emailId}}</td>
      <td>{{fproduct.contactNo}}</td>
      <td><a mat-flat-button color="primary"class="bg1" (click)="editColumn(fproduct.userName)"><mat-icon >edit</mat-icon></a></td>
      <td><a mat-flat-button color="primary" class="bg2" (click)="deleteColumn(fproduct.userName)"><mat-icon >delete</mat-icon></a></td>
      </tr>
      </ng-container>
      </tbody>
  </table>
</div>
<div style="padding-left:280px" *ngIf="filter">
  <pagination-controls (pageChange)="getFilteredPage($event)"></pagination-controls>
</div>


<div *ngIf="!filter">
<table class="table" style="width:60%">
    
    <thead>
        <th>Username</th>
        <th>Email ID</th>
        <th>Contact No.</th>
         <th>Edit</th>
        <th>Delete</th>
      </thead>
     
    
    <tbody>
      <ng-container *ngFor="let product of data.users | paginate: {itemsPerPage: 3, currentPage: p, totalItems: data.totalItems}">
      <tr>
      <td>{{product.userName}}</td>
      <td>{{product.emailId}}</td>
      <td>{{product.contactNo}}</td>
      <td><a mat-flat-button color="primary"class="bg1" (click)="editColumn(product.userName)"><mat-icon >edit</mat-icon></a></td>
      <td><a mat-flat-button color="primary" class="bg2" (click)="deleteColumn(product.userName)"><mat-icon >delete</mat-icon></a></td>
      </tr>
      </ng-container>
      </tbody>
  </table>
</div>
        <div style="padding-left:280px" *ngIf="!filter">
          <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
      </div>
     
      <a mat-flat-button color="primary" class="bg4" (click)="insertUser()"><mat-icon>add</mat-icon></a>
  
</body>
